.header {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  max-height: 105px;
  margin: 92px auto;
  font-size: 18px;
}

.header__menu {
  position: relative;
  right: 2px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-self: center;
  padding-bottom: 5px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: circle;
}

.header__links-list-item {
  padding-right: 13px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
  pointer-events: none;
}

.header__logo-image {
  position: relative;
  width: 148px;
  height: 105px;
}

.header__address {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  left: 182px;
  max-width: 270px;
  line-height: 135%;
  text-wrap: wrap;
}

.address {
  font-style: normal;
}

.main {
  margin: 0px 9px;
}

.cover {
  position: relative;
  width: 100%;
  min-height: 744px;
  color: #fff;
  background-position: center;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  padding: 162px 46px 125px;
  z-index: 2;
}

.aligned-text {
  font-size: 100px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 19px;
}

.aligned-text:first-child {
  line-height: 115%;
  margin-top: 0px;
}

.aligned-text_center {
  line-height: 100%;
  text-align: center;
  margin-top: 16px;
}

.aligned-text_right {
  line-height: 100%;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 80px 0;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 127.273%;
  text-transform: uppercase;
}

.cover__description-text {
  position: relative;
  z-index: 2;
  word-spacing: 17px;
}

.bet-button {
  position: relative;
  z-index: 2;
  width: 252px;
  height: 52px;
  left: 30px;
  border: 1px solid currentColor;
  color: inherit;
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  margin: 175px 24px 177px;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 37px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 254px;
  min-height: 554px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 554px;
  padding: 48px 35px 46px 39px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
}

.card__title {
  position: relative;
  z-index: 2;
  width: 254px;
  font-size: 22px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  width: 254px;
  font-weight: normal;
  font-size: 20px;
}

.lots__look-more-link {
  margin-top: 29px;
  padding-left: 39px;
  font-size: 20px;
}

.about {
  display: inline-flex;
  justify-content: space-between;
  gap: 70px;
  padding-left: 70px;
}

.about__logo {
  position: relative;
  width: 237px;
  height: 237px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  position: absolute;
  bottom: 61px;
  left: 45px;
  width: 148px;
  height: 114px;
  background-repeat: no-repeat;

}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 705px;
  margin-top: 98px;
  padding-right: 12px;
  line-height: 1.17;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 179px 58px 89px 58px;
}

.header__address:first-child {
  justify-self: start;
  position: relative;
  left: 0;
  font-size: 18px;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
}

.footer__menu-list-item {
  font-size: 18px;
}

.footer__social-list {
  display: inline-flex;
  justify-self: end;
  justify-content: space-between;
  column-gap: 47px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
