.header {
  display: grid;
  flex-wrap: nowrap;
  grid-template-columns: 43% 30% 27%;
  width: 1052px;
  height: 105px;
  margin: 92px auto;
  font-size: 18px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding-bottom: 5px;
  padding-left: 34px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 21px;
  list-style-type: circle;
}

.header__links-list-item {
  padding-right: 11px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
  pointer-events: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-self: center;
  width: 270px;
  line-height: 135%;
  text-wrap: wrap;
}

.address {
  font-style: normal;
}

.main {
  padding: 0px 9px;
}

.cover {
  width: 100%;
  height: 744px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  padding: 162px 47px 125px;
}

.aligned-text {
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.aligned-text_center {
  margin: 8px -5px 4px 0px;
  text-align: center;
}

.aligned-text_right {
  margin-right: -2px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 3px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  font-family: Raleway;
  font-weight: normal;
  font-size: 22px;
  line-height: 127.273%;
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 17px;
}

.bet-button {
  width: 252px;
  height: 52px;
  margin-right: -31px;
  border: 1px solid #fff;
  padding: 12px 0;
  color: inherit;
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  margin: 175px 24px 177px;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 37px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 254px;
  height: 554px;
  color: #fff;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 554px;
  padding: 48px 35px 46px 39px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  width: 254px;
  font-size: 22px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  width: 254px;
  font-weight: normal;
  font-size: 20px;
}

.lots__look-more-link {
  margin-top: 29px;
  padding-left: 39px;
  font-size: 20px;
}

.about {
  display: inline-flex;
  justify-content: space-between;
  gap: 70px;
  min-height: 546px;
  padding-left: 70px;
}

.about__logo {
  position: relative;
  width: 237px;
  height: 237px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  position: absolute;
  width: 148px;
  height: 114px;
  background-repeat: no-repeat;
  transform: translate(45px, 54%);
}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 705px;
  margin-top: 98px;
  padding-right: 12px;
  line-height: 1.17;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 179px 58px 89px 58px;
}

.header-address-accent {
  justify-self: start;
  font-size: 18px;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
}

.footer__menu-list-item {
  font-size: 18px;
}

.footer__social-list {
  display: inline-flex;
  justify-self: end;
  justify-content: space-between;
  gap: 47px;
  width: 237px;
  height: 48px;
  list-style-type: none;
}
